<ion-content [fullscreen]="true">
  <div style="display: flex; flex-direction: column; justify-content: center; align-items: center; height: 80vh; margin-top: -5vh;">
    <div style="display: flex; align-items: center; border-bottom: 5px solid white; padding: 20px 0;">
      <ion-img src="assets/image/Justin.png" alt="" style="width: 150px; height: 150px; margin-right: 5px;"></ion-img>
      <div style="max-width: 300px;">
        <div style="font-size: 32px; color: white; text-align: center;">theuske0497</div>
        <div style="display: flex; align-items: center; justify-content: center; margin-top: 10px;">
          <ion-img src="assets/icon/danger.png" style="width: 40px; height: auto; margin-right: 5px;"></ion-img>
          <div style="color: white;">Urgent - Suicidaal</div>
        </div>
      </div>
    </div>
    <div style="color: white; text-align: center; margin-top: 20px; width: 325px; font-size: 22px;">
      <div style="font-size: 30px; font-weight: bold; margin-bottom: 10px;">Beschrijving noodgeval</div>
      Hallo ik heb problemen met mijn mentale gezondheid ik voel me de laatste tijd slecht en ik weet niet meer wat ik moet doen op dit punt van mijn leven. ik ben nu bij het treinstation in Eindhoven.
    </div>
  </div>
</ion-content>
