<ion-content [fullscreen]="true" style="background-color: #0A235A;">

  <div style="text-align: center; margin-top: 40px;">
    <h1 style="font-size: 40px; color: white;">Overzicht</h1>
    <div style="border-bottom: 5px solid white; margin-top: 20px; width: 345px; margin: 0 auto;"></div>
  </div>

  <div style="display: flex; justify-content: center; margin-top: 40px;">
    <ion-radio-group style="display: flex; justify-content: center;">
      <ion-item style="--background: transparent;" lines="none">
        <ion-radio slot="start" style="width: 80px; height: 60px; background-color: #004682; border-radius: 10px; --border-width: 0; display: flex; justify-content: center; align-items: center;">
          <div style="color: white; display: flex; justify-content: center; align-items: center; width: 100%; height: 100%; padding-left: 30px;">REQ</div>
        </ion-radio>
      </ion-item>
      <ion-item style="--background: transparent;" lines="none">
        <ion-radio slot="start" style="width: 80px; height: 60px; background-color: #004682; border-radius: 10px; --border-width: 0; display: flex; justify-content: center; align-items: center;">
          <div style="color: white; display: flex; justify-content: center; align-items: center; width: 100%; height: 100%; padding-left: 30px;">NON-REQ</div>
        </ion-radio>
      </ion-item>
      <ion-item style="--background: transparent;" lines="none">
        <ion-radio slot="start" style="width: 80px; height: 60px; background-color: #004682; border-radius: 10px; --border-width: 0; display: flex; justify-content: center; align-items: center;">
          <div style="color: white; display: flex; justify-content: center; align-items: center; width: 100%; height: 100%; padding-left: 30px;">Questions</div>
        </ion-radio>
      </ion-item>
    </ion-radio-group>
  </div>

  <div style="display: flex; justify-content: center; align-items: center; margin-top: 100px;">
    <ion-textarea readonly (click)="navigateToTab2()" style="width: 255px; height: 40px; background-color: #004682; color: white; display: flex; justify-content: center; align-items: center; text-align: center; white-space: nowrap; padding-left: 15px;">
      Theuske0497 - Hallo ik proble...
    </ion-textarea>
    <ion-checkbox style="margin-left: 10px;"></ion-checkbox>
  </div>
  <div style="display: flex; justify-content: center; align-items: center; margin-top: 10px;">
    <ion-textarea readonly (click)="navigateToTab2()" style="width: 255px; height: 40px; background-color: #004682; color: white; display: flex; justify-content: center; align-items: center; text-align: center; white-space: nowrap; padding-left: 15px;">
      Theuske0497 - Hallo ik proble...
    </ion-textarea>
    <ion-checkbox style="margin-left: 10px;"></ion-checkbox>
  </div>
  <div style="display: flex; justify-content: center; align-items: center; margin-top: 10px;">
    <ion-textarea readonly (click)="navigateToTab2()" style="width: 255px; height: 40px; background-color: #004682; color: white; display: flex; justify-content: center; align-items: center; text-align: center; white-space: nowrap; padding-left: 15px;">
      Theuske0497 - Hallo ik proble...
    </ion-textarea>
    <ion-checkbox style="margin-left: 10px;"></ion-checkbox>
  </div>
  <div style="display: flex; justify-content: center; align-items: center; margin-top: 10px;">
    <ion-textarea readonly (click)="navigateToTab2()" style="width: 255px; height: 40px; background-color: #004682; color: white; display: flex; justify-content: center; align-items: center; text-align: center; white-space: nowrap; padding-left: 15px;">
      Theuske0497 - Hallo ik proble...
    </ion-textarea>
    <ion-checkbox style="margin-left: 10px;"></ion-checkbox>
  </div>
  <div style="display: flex; justify-content: center; align-items: center; margin-top: 10px;">
    <ion-textarea readonly (click)="navigateToTab2()" style="width: 255px; height: 40px; background-color: #004682; color: white; display: flex; justify-content: center; align-items: center; text-align: center; white-space: nowrap; padding-left: 15px;">
      Theuske0497 - Hallo ik proble...
    </ion-textarea>
    <ion-checkbox style="margin-left: 10px;"></ion-checkbox>
  </div>
  <div style="display: flex; justify-content: center; align-items: center; margin-top: 10px;">
    <ion-textarea readonly (click)="navigateToTab2()" style="width: 255px; height: 40px; background-color: #004682; color: white; display: flex; justify-content: center; align-items: center; text-align: center; white-space: nowrap; padding-left: 15px;">
      Theuske0497 - Hallo ik proble...
    </ion-textarea>
    <ion-checkbox style="margin-left: 10px;"></ion-checkbox>
  </div>

  <div style="display: flex; justify-content: space-between; align-items: center; margin-top: 20px; padding: 0 40px;">
    <ion-button class="custom-button">Download</ion-button>
    <ion-button class="custom-button">Delen</ion-button>
  </div>
</ion-content>
